.container{
    padding-top: 50px;
}
.editor_style{
    border: 1px solid gray;
    padding: 8px;
}
.tambah_data_container{
   
    padding: 8px;
}

 .tambah_soal{
        background-color:rgba($color: #000000, $alpha: 0.5);
        height: 100vh;
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        h1{
            text-align: center;
        }
       .layer1{
        width: 50%;
        height: 90%;
        background-color: white;
        overflow: scroll;
       }
   }