.container{
    padding: 10px;
    .pilihan__ganda{
        display: flex;
        flex-direction: column;
    }
    select{
        margin-right: 10px;
    }
    .editor{
        display: flex;
        textarea{
            margin-right: 10px;
        }
    }
}